[submodule "buildscripts"]
	path = buildscripts
	url = git@github.com:YuanYuLin/iopcbs.git
[submodule "buildcfgs"]
	path = buildcfgs
	url = git@github.com:YuanYuLin/iopcbscfg.git
[submodule "packages_buildroot"]
	path = packages_buildroot
	url = git@github.com:YuanYuLin/PackageCfgs.git
