[submodule "buildscripts"]
	path = buildscripts
	url = https://github.com/YuanYuLin/iopcbs.git
[submodule "buildcfgs"]
	path = buildcfgs
	url = https://github.com/YuanYuLin/iopcbscfg.git
[submodule "packages_buildroot"]
	path = packages_buildroot
	url = https://github.com/YuanYuLin/PackageCfgs.git
